/*公共样式*/
body{font-family:微软雅黑;font-size: 14px;}
*{margin:0;padding:0;}
img{border:0;}
.fl{float:left;	}
.fr{float:right;}
.clear{clear:both;}
.warp{width: 100%}
a{text-decoration: none;color:#000;}	
ul{list-style: none;}
.header{width: 100%;height: auto;}
.header_container{width: 100%;}
.navigation_container,.section_container,.footer_container{width:980px; height:auto;margin:0px auto; clear:both;background-color: #fff;}

/*头部导航*/
.top_bar{width: 980px;height: 45px;margin: 0 auto;}
.top_bar .top_links  li {float: left;margin-left: 1px;}
.top_bar .top_links  li  a{display: block;padding: 15px 20px;line-height: 100%;color: #000;text-decoration: none;text-transform: uppercase;}
.top_bar .top_links  li  a:hover{color: #f38256;}



#mydiv{ float: right; height: 30px;
    margin: 30px 0 0 0; padding: 3px; width:220px;}
#mydiv  input{border: 1;height:25px;padding: 0px; width: 90%;}
#mydiv button {background: url("../images/search_btn.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none; float: right; height: 28px;width: 20px;cursor: pointer;}

.minicart{ float:right;margin:23px 0px 3px 0px; padding: 14px 10px 14px 40px; background:url(../images/cart_icon.png) no-repeat 7px center; position:relative; text-decoration:none;}
 .minicart a{ text-decoration:none;} 
 .minicart span{ color:#a29b95;}
 .minicart span b{font-weight:bold;color: #F38256;}
 .minicart span .price{color: #F38256;}


/*底部*/
.footer_links>li {
float: left;
width: 190px;
padding: 25px 0px 25px 55px;
font-size: 12px;
line-height: 24px;}
.footer_links>li span{font-weight: bold ;font-size:15px;}
.footer{border-top:3px solid #F38256;padding-top: 15px;}
